

$content-color: #3f4447;
$iu-global-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
  "Segoe UI Emoji", "Segoe UI Symbol";
$iu-global-font-color: rgba(255, 255, 255, 0.9);
$iu-global-borde-input-h:#0c536a;
.label-custom {
    margin-bottom: 3px;
    font-family:$iu-global-font ;
    color: $iu-global-font-color;
}