<div class="ui-multiline-view" style="display: flex; width: 100%; flex-wrap: wrap;">
  <div class="ui-multiline-conteiner">
    <ui-form-base (formAction)="accionFormulario($event)" titleHeader="Dividir Texto"
      [showCloseButton]="true">

      <div style="display:inline-flex; width: 100%;">

        <div style="width: 100%;">
          <div class="line-action">
            <text-area-model [(value)]="textInput" (valueChange)="controlChange()" label='Texto a dividir x saltos linea'
            ></text-area-model>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-eraser" tooltip ='Limpiar' *ngIf="arrayText.length>0"
            (on-click)="controlClear()"></ui-button>
          </div>
     
        </div>

        <div class="card-action"  *ngIf="arrayText.length>0">
          
          <div class="line-action">
            <ui-input-text-model [(value)]="textoSaltoLinea" (key-press)="controlChange()"
             label='Texto de separación' labelDirectionLeft='true'></ui-input-text-model>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-long-arrow-right" tooltip ='Ejecutar'
            (on-click)="controlChange()"></ui-button>
          </div>
          
          <div class="line-action">
          <ui-input-text-model [(value)]="textoEliminar" (key-press)="controlDeleteChange()" labelDirectionLeft='true'
            label='Texto a Eliminar'></ui-input-text-model>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-long-arrow-right" tooltip ='Ejecutar'
            (on-click)="controlDeleteChange()"></ui-button>
          </div>

          <div class="line-action"> <ui-input-text-model [(value)]="textoCorte" (key-press)="controlCutChange()" labelDirectionLeft='true'
            label='Texto de corte'></ui-input-text-model>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-long-arrow-right" tooltip ='Ejecutar'
            (on-click)="controlCutChange()"></ui-button>
          </div>
          <div class="line-action"> <ui-input-text-model [(value)]="textoIzquierda" (key-press)="controlAddChangeIzquierda()" labelDirectionLeft='true'
            label='Texto Izquierda'></ui-input-text-model>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-long-arrow-right" tooltip ='Ejecutar'
            (on-click)="controlAddChangeIzquierda()"></ui-button>
          </div>
          <div class="line-action">  <ui-input-text-model [(value)]="textoDerecha" (key-press)="controlAddChangeDerecha()" labelDirectionLeft='true'
             label='Texto Derecha'></ui-input-text-model>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-long-arrow-right" tooltip ='Ejecutar'
            (on-click)="controlAddChangeDerecha()"></ui-button>
          </div>

          <div class="line-action"> 
            <div class="card-lx-action">
              <ui-input-text-model [(value)]="textoReemplazar" labelDirectionLeft='true'
               label='Texto a reemplazar'></ui-input-text-model>
              <ui-input-text-model [(value)]="textoReemplazarPor" (key-press)="controlReplaceAdd()" labelDirectionLeft='true'
               label='Reemplazar por'></ui-input-text-model>
            </div> 
       
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-long-arrow-right" tooltip ='Ejecutar'
            (on-click)="controlReplaceAdd()"></ui-button>
          </div>

        </div>

      </div>
      <div class="card-lx-action" style="margin-top: 10px;" *ngIf="arrayText.length>0">
        <span style="margin-bottom: 10px;">Resultado Json</span>
        <div class='ui-json-view'>
        {{objectTree|json}}
        </div>
      </div>
    </ui-form-base>

  </div>

  <div>
    <ui-form-base *ngIf="arrayText.length>0" titleHeader="Texto Resultante" [actions]="actions" (formAction)="accionFormulario($event)">
      <table>
        <th>Nº</th>
        <th>
          <div style="display: flex; width: 100%; justify-content:space-between;">
            <div style="margin-right: 5px;">Texto</div>
            <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-clipboard" name="Copiar"
              (on-click)="copyActionClipBoard()"></ui-button>
          </div>
        </th>
        <tr *ngFor="let item of arrayText ; index as i">
          <td class="order">{{i+1}}</td>
          <td>{{item}}</td>
        </tr>
      </table>
    </ui-form-base>
  </div>

</div>
