<div class="main-register">
  <div class="card-home">
  <div style="display: flex; justify-content:flex-end;  flex-direction: column; flex-wrap: nowrap;">
    <div style="display: flex; justify-content:flex-end; margin-top: -20px;">
      <img class="ing-logo" src="assets/zoor.png" width="60px" style="padding: 10px;">
    </div>
    <h1 class="name-app">Sumer</h1>
    <h1 class="name-app" style="margin-bottom: 15px;">Code</h1>
  </div>

  <div class="text-register">
    <p class="text-title">Construido para</p>
    <p class="text-title">desarrolladores</p>
    <div style="margin-top: 10px;">
      Automatiza el proceso de escritura de código recurrente,
      genera código en base a tus modelos de datos,
      genera código de cualquier lenguaje, en la estructura
      de directorios que necesites para tus proyectos.
    </div>
  </div>
</div>

</div>
