<div class="ui-multiline-view" style="display: flex; width: 100%; flex-wrap: wrap;">
    <div class="ui-multiline-conteiner">
      <ui-form-base (formAction)="accionFormulario($event)" titleHeader="Dividir Texto"
        [showCloseButton]="true">
        <div style="display:inline-flex; width: 100%;">
          <div style="width: 100%;">
            <div class="line-action">
              <text-area-model [(value)]="textInput" (valueChange)="controlChange()" autoFocus="true" label='Texto a dividir x saltos linea'
              ></text-area-model>
              <ui-button styleClass='ui-min' style="margin: 3px;" color="#3a6683" icon="fa fa-eraser" tooltip ='Limpiar' *ngIf="arrayResult.length>0"
              (on-click)="controlClear()"></ui-button>
            </div>
          </div>
  
        </div>
        <div class="card-lx-action" style="margin-top: 10px;" *ngIf="arrayResult.length>0">
          <span style="margin-bottom: 10px;">Resultado Json</span>
          <div class='ui-json-view'>
          {{arrayResult|json}}
          </div>
        </div>
      </ui-form-base>
  
    </div>
  
    <div>
      <ui-form-base *ngIf="arrayResult.length>0" titleHeader="Texto Resultante" [actions]="actions" (formAction)="accionFormulario($event)">
        <ui-table
        *ngIf="tableResult"
        [columns]="tableResult.columnArray"
        [actions]="tableResult.actionArray"
        [data]="tableResult.dataArray"
        [templateRow]="templateRow"
      >
      <ng-template let-data #templateRow>
        <td>
          <ui-input-checkbox [(value)]="data.col1"></ui-input-checkbox>
        </td>
        <td>
          <ui-input-select-model [(value)]="data.col2" 
          [items]="[{'id':'col1','name':'nombre 1'},{'id':'col2','name':'nombre 2'},{'id':'col3','name':'nombre 3'}]"
          ></ui-input-select-model>
        </td>
        <td>
          <ui-input-date [(value)]="data.col3"></ui-input-date>
        </td>
        <td>
          <ui-input-text-model [(value)]="data.col4"></ui-input-text-model>
        </td>
        <td>
          <ui-input-text-model [(value)]="data.col5"></ui-input-text-model>
        </td>
      </ng-template>
    
    </ui-table>

      </ui-form-base>
    </div>
  
  </div>
  


  <!-- <ui-table [columns]='columnsTable' [actions]="actionsTable"
    [data]="groupCode.groupCodeNodesField" 
    [templateRow]="templateRow" 
    (actionEvent)="tableFIeldActions($event)"
    >
    <ng-template let-data #templateRow>
      <td>
        <ui-input-checkbox [(value)]="data.selected"></ui-input-checkbox>
      </td>
      <td>
        {{data.name}}
      </td>
    </ng-template>

  </ui-table> -->