<div
    class="conteiner-key view-layout"
    cdkDrag
    [style.min-width] ="minWidth"
>
    <div class="view-header line-key"
       cdkDragHandle [ngStyle]="{'background': colorHeader}">
        <div class='title-view'>{{titleHeader}}</div>
        <div  *ngIf="showCloseButton" class="close-section">
            <ui-btnclose
            (on-click-close)="actionForm($event)"
            >
            </ui-btnclose>
        </div>

    </div>
    <div class='view'  [ngStyle]="{'background': backgroundColor}">

        <div class="ui-form-error" *ngIf="errors && errors.length>0">
            <div
            class='btn-view-error'
        >
            <button  (click)="actionErrorPanel()">
                <div class="icon-close"></div>
            </button>
        </div>
        <div ><span style="background-color: brown; border-radius: 3px; padding-left: 2px; padding-right: 3px;">Corregir las siguientes observaciones</span> </div>
            <div class="error-p" *ngFor="let error of errors; index as i">{{i+1}}. {{error}}</div>
        </div>

        <ng-content></ng-content>
    </div>
<div></div>

<div class='view-footer footer-bg'>
  <div  *ngIf="textFooter.length>0" class='title-footer'>{{textFooter}}</div>
  <div class='btn-footer line-key' >
  <ng-content select="[footer]"></ng-content>
  </div>
  <div class='btn-footer line-key' >
      <ng-container *ngIf="actions && showFooterButtons==false">
        <ng-container *ngFor="let action of actions">
            <ui-button
            *ngIf="action.isVisible !==false"
            [icon]="action.icon"
            [color]="action.color"
            [colorText]="action.colorText"
            [autoFocus]="action.autoFocus"
            [type]="action.type"
            [styleClass]="action.styleClass"
            (on-click)="actionForm(action.action)"
        >
            {{action.name}}
        </ui-button>
        </ng-container>
      </ng-container>
        <ui-button
            *ngIf="showFooterButtons"
            [actionProperties] ="ACTION_SAVE"
            autoFocus ="true"
            (on-click)="actionForm($event)"
        >
        </ui-button>
        <ui-button
            *ngIf="showFooterButtons"
            [actionProperties] ="ACTION_CANCEL"
            (on-click)="actionForm($event)"
        >
        </ui-button>
  </div>
</div>
</div>
