
@import '/src/assets/global-values.scss';

.input-text {
  color: $iu-global-font-color;
  font-family: $iu-global-font;
  box-sizing: border-box;
  display: flex;
}

.label-custom {
  color: $iu-global-font-color;
  font-family: $iu-global-font;
}

.div-input {
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px $iu-global-borde-input;
  box-shadow: (15, 15, 15, 0.2) 0px 0px 0px 1px inset,
    rgba(15, 15, 15, 0.2) 0px 1px 1px inset;
  padding-left: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 1px;
  height: 21px;
  font-size: 12px;
  color: $iu-global-font-color;
  background: $iu-global-input-background;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: 100%;
  min-width: 50px;
  user-select: none;
}

.input-text > .input-content > input {
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px $iu-global-borde-input;
  box-shadow: (15, 15, 15, 0.2) 0px 0px 0px 1px inset,
    rgba(15, 15, 15, 0.2) 0px 1px 1px inset;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  height: 21px;
  font-size: 12px;
  color: $iu-global-font-color;
  background: $iu-global-input-background;
  cursor: text;
}

.input-text > .input-content > input:focus {
  outline: none;
  border: solid 1px $iu-global-borde-input-h;
}

.ui-icon-select {
  transform: rotate(90deg);
  font-size: 20px;
  font-weight: 100;
}

.ui-icon-select::after {
  content: " \203A";
}

.label-custom {
  margin-bottom: 3px;
  min-width: 120px;
  max-width: 120px;
  min-height: 28px;
  padding-left: 3px;
}

.input-text-top {
  width: 100%;
}

.input-text-left {
  display: inline-flex;
  width: 100%;
}

.label-left {
  font-size: $iu-global-font-size-label;
  margin-top: 2px;
  width: 200px;
  min-height: 28px;
}

.label-top {
  font-size: $iu-global-font-size-label;
  margin-top: 7px;
  min-width: 120px;
  max-width: 180px;
}

.input-key:focus-within{
  outline: none;
  border: none;
}


  .input-key
   {
    border: solid 1px solid 1px $iu-global-borde-input;
  }

.input-key:focus-within
   {
    border: solid rgb(11, 173, 152) 1px;
  }

.input-key:hover
   {
    border: solid rgb(11, 173, 152) 1px;
  }
