.content-files {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    padding: 5px;
    width: auto;
}
.item-file {
  width: 85px;
  height: 55px;
  padding: 5px;
  margin: 3px;
  background-color: #232a2e;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  color: rgb(219, 151, 127);
  font-size: 16px;

}

.item-file:hover {
  cursor: pointer;
  color: orangered;
  background-color: #1a1f22;
  width: 83px;
  height: 52px;
  border: 1px solid orangered;
}

.file-text{
  font-size: 9px;
  line-height:3px;
  //font-weight: 400;
  width: 100%;
}
