<div style="max-width: 320px;">
<ui-form-base [showCloseButton]="false" [errors]="userLogin.valueErrors" titleHeader="Sesión expirada" [showCloseButton] ="true" (formAction) ="close()">
  <div class="main-login">
      <ui-avatar class="content-login"   [name]="userLogin.username_or_email"></ui-avatar>
      <p class="content-login">Si desea continuar, ingrese su clave de acceso.</p>
  </div>

    <ui-input-text-model class="line-key" type='password' label="Clave" [(value)]="userLogin.password" [autoFocus]="true"(key-press)="loginRefresh()">
    </ui-input-text-model>
    <div style="display:flex;  justify-content: flex-end; width: 100%; margin-top: 23px;">
      <ui-button  class="line-key" [actionProperties]="ACTION_BTN_LOGIN" (on-click)="loginRefresh()"> </ui-button>
    </div>
</ui-form-base>
</div>