.mini-span {
  position:absolute;
  top: -18px;
  font-size: 10px;
  color: #4fd812;
}

.mini-span-title {
  font-size: 10px;
  color: #4fd812;
}

.color-br{
  color: #f44747;
}

.item-copy{
  cursor: pointer;
  background-color: #fafafa;
  color: #2e4edd;
  user-select: none;
  height: 100%;
  font-weight: bold;
}
.item-copy:hover{
  background-color: #c3e5ee;
}
