
<div class="input-key" tabindex="-1" (keydown)="keyPress($event)">
<div  class="ui-button " [ngClass]="styleClass" style="width: auto;" >
<ng-container *ngIf="tooltip">
  <button 
  (keyup.enter)="keyPress($event)"
  matRipple matRippleColor="rgba(255, 255, 255, 0.1)" [helipopper]="tpl"
    [ngStyle]="{'background': color, 'color':colorText}" (click)="onClic($event)"><i class="ui-icon" *ngIf="icon"
      [ngClass]="[icon]"></i>
    <ng-container *ngIf="statusStyle">{{name}}</ng-container>
    <ng-content></ng-content>
  </button>
</ng-container>

<ng-container *ngIf="!tooltip">
  <button 
  matRipple matRippleColor="rgba(255, 255, 255, 0.1)" 
  [ngStyle]="{'background': color, 'color':colorText}"
  (click)="onClic($event)">
    <i class="ui-icon" *ngIf="icon" [ngClass]="[icon]"></i>
    <ng-container *ngIf="statusStyle">{{name}}</ng-container>
    <ng-content></ng-content>
  </button>
</ng-container>

</div>
</div>
<!-- <div *ngIf="!tooltip" class="ui-button" [ngClass]="styleClass"   >



  <button 
  matRipple matRippleColor="rgba(255, 255, 255, 0.1)" 
  [ngStyle]="{'background': color, 'color':colorText}"
  (click)="onClic($event)">
    <i class="ui-icon" *ngIf="icon" [ngClass]="[icon]"></i>
    <ng-container *ngIf="statusStyle">{{name}}</ng-container>
    <ng-content></ng-content>
  </button>
</div> -->

<ng-template #tpl>
  <div>
    <span>{{tooltip}}</span>
  </div>
</ng-template>
