<div class="ui-button" [ngClass]="styleClass" style="width: 100%">
    <ng-container *ngIf="tooltip">
      <button
        class="input-key"
        #buttonModel
        (keyup)="keyPress($event)"
        matRipple
        matRippleColor="rgba(255, 255, 255, 0.1)"
        [helipopper]="tpl"
        [ngStyle]="{ background: color, color: colorText }"
        (click)="onClic($event)"
      >
      <div class="btn-conteiner">
        <i class="ui-icon" *ngIf="icon" [ngClass]="[icon]"></i>
        <ng-container *ngIf="statusStyle && name.length>0"><span class="btn-text">{{ name }}</span></ng-container>
        <div class="btn-space" *ngIf="statusStyle != false"></div>
          <ng-content></ng-content>

      </div>

      </button>
    </ng-container>

    <ng-container *ngIf="!tooltip">
      <button
      class="input-key"
      #buttonModel
        matRipple
        matRippleColor="rgba(255, 255, 255, 0.1)"
        [ngStyle]="{ background: color, color: colorText }"
        (click)="onClic($event)"
        (keyup)="keyPress($event)"
      >
      <div class="btn-conteiner">
        <i class="ui-icon" *ngIf="icon" [ngClass]="[icon]"></i>
        <ng-container *ngIf="statusStyle && name.length>0"><span class="btn-text">{{ name }}</span></ng-container>
        <div class="btn-space" *ngIf="statusStyle != false"> </div>
          <ng-content></ng-content>

      </div>
      </button>
    </ng-container>
  </div>

<ng-template #tpl>
  <div>
    <span>{{ tooltip }}</span>
  </div>
</ng-template>
