<div style="width: 720px;">
  <ui-form-base showCloseButton="true" [titleHeader]="TITLE_HEADER_FORM" [textFooter]="TEXT_FOOTER"
    (formAction)="actionFormEvent($event)" [actions]="ACTION_FORM" [errors]="userRol.errors">
    <div *ngIf="userRol">
      <ui-input-select-model (valueChange)="ChangeInputSistem($event)" isRequired ="true" placeholder ='IdSistem' label='IdSistem' [items]="listSistem"> </ui-input-select-model>
      <ui-input-select-model [(value)]="userRol.idRol" isRequired ="true" placeholder ='Rol' label='Rol' [items]="listRol"> </ui-input-select-model>
      <ui-input-select-model [(value)]="userRol.state" isRequired="true" placeholder='Estado' label='Estado'
        [items]="itemsTable"> </ui-input-select-model>
    </div>
  </ui-form-base>
</div>
