$content-color: #3f4447;
$iu-global-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
  "Segoe UI Emoji", "Segoe UI Symbol";
$iu-global-font-color: rgba(255, 255, 255, 0.9);
$iu-global-borde-input-h: rgb(11, 173, 152);
$iu-global-input-background:rgba(15, 15, 15, 0.3);
.input-text-area {
  color: $iu-global-font-color;
  font-family: $iu-global-font;
  width: 100%;
  display: flex;
  flex-direction: column;
}

 .input-text-area  textarea {
  min-height: 21px ;
}

textarea {
    box-sizing: border-box; //toma el 100% exacto conteiner caso contrario sobrepasa el conteiner
    border: solid 1px rgba(15, 15, 15, 0.2);
    box-shadow: (15, 15, 15, 0.2) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.2) 0px 1px 1px inset;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    min-height: 21px;
    margin-top: 1px;
    max-height: 320px;
    font-size: 12px;
    width: 100%;
    background-color: $iu-global-input-background;
    color: $iu-global-font-color;
    font-family: $iu-global-font;
    overflow:hidden;
  }

  textarea.cdk-textarea-autosize {
    resize: auto;
}

.input-text-area > .label-custom > label {
  font-size: 13px;
  color: $iu-global-font-color;
}

.label-custom {
  margin-bottom: 3px;
  color: $iu-global-font-color;
  width: 100%;
}

textarea:focus {
  outline: none;
  border: solid 1px$iu-global-borde-input-h
}

textarea:hover {
  border: solid 1px $iu-global-borde-input-h;
}

.input-text > .input-content > textarea:focus {
  outline: none;
  border: solid 1px $iu-global-borde-input-h;
}

.input-text > .input-content > textarea:hover {
  outline: none;
  border: solid 1px $iu-global-borde-input-h;
}



.conteiner-error {
  display: inline-flex;
  margin-top: 3px;
}
.error-p {
  width: auto;
  background-color: rgb(246, 21, 21);
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 4px;
  font-size: 11px;
  color: rgb(255, 255, 255);
  margin-block-start: 1px !important;
  margin-block-end: 1px !important;
}
