@import '/src/assets/global-values.scss';
.ui-panel-select {
  position: fixed;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  color: $iu-global-font-color;
  background: $content-color;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
  z-index: 3050;
}

.ui-item-panel {
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  font-size:$iu-global-font-size-input ;
  padding: 7px;
}

.ui-item-panel-ini {
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  font-size:$iu-global-font-size-input ;
  padding: 7px;
}

.ui-item-panel:hover {
  background-color: #0f0f0f33;
}

.input-content {
  width: 100%;
  display: block;
  width: 100% !important;
  color: $iu-global-font-color;
  font-family: $iu-global-font;
  box-sizing: border-box;
}

.input-content > input {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  border: solid 1px rgba(15, 15, 15, 0.2);
  box-shadow: (15, 15, 15, 0.2) 0px 0px 0px 1px inset,
    rgba(15, 15, 15, 0.2) 0px 1px 1px inset;
  height: 18px;
  width: 100%;
  font-size: 10px;
  color: $iu-global-font-color;
  background-color: $content-color;
  cursor: text;
}

 .input-content > input:focus {
  outline: none;
  border: solid rgb(11, 173, 152) 1px;
}

.input-key:focus-within{
  outline: none;
  border: none;
}


  .input-key
   {
    border: solid rgba(11, 173, 151, 0) 1px;
  }

.input-key:focus-within
   {
    border: solid rgb(11, 173, 152) 1px;
    background-color: #0f0f0f33;
  }
