<ui-form-base [titleHeader]="TITLE_HEADER_FORM" [showCloseButton]="SHOW_CLOSE_BUTTON_FORM">
  <ui-button [actionProperties]="ACTION_BUTTON_CREATE" (on-click)="createSistemOpenModal()"></ui-button>
  <ui-filter-panel [(searchFilter)]="tableModelSistem.searchFilter" (openFilter)="filterOpenModal()" (cleartFilter)="filterClear()">
  </ui-filter-panel>

  <ui-table *ngIf="tableModelSistem" [columns]='tableModelSistem.columnArray' [actions]="tableModelSistem.actionArray"
    [data]="tableModelSistem.dataArray" [paginationData]="tableModelSistem.pagination"
    (actionEvent)="tableSistemActions($event)"></ui-table>
</ui-form-base>

