<div style="width: 720px">
  <ui-form-base
    [titleHeader]="TITLE_HEADER_FORM"
    [showCloseButton]="SHOW_CLOSE_BUTTON_FORM"
    [actions]="ACTION_FORM"
  >
    <ui-button 
      class="line-key"
      isActionOpenModal="true"
      [actionProperties]="ACTION_BUTTON_CREATE"
      [autoFocus]="true"
      (on-click)="createSistemOpenModal()"
    ></ui-button>
 
      <ui-filter-panel
        [(searchFilter)]="tableModelSistem.searchFilter"
        (openFilter)="filterOpenModal()"
        (cleartFilter)="filterClear()"
      >
      </ui-filter-panel>

    <!-- <ui-input-text-date></ui-input-text-date>
    <text-date-native></text-date-native> -->
   <div #canvasRef2>
    <canvas id="canvas" #canvasRef width=300 height=300
    (onMouseDown)="handleMouseDown($event)"
    (onMouseMove)="handleMouseDown($event)"
    (onMouseUp)="handleMouseDown($event)"
    (onMouseOut)="handleMouseDown($event)"
    
    ></canvas>
   </div>
 
    <div>
      <div class="line-key" style="display: flex; width: 100%">
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
      </div>

      <div class="line-key" style="display: flex; width: 100%">
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
      </div>

      <div class="line-key" style="display: flex; width: 100%">
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
      </div>

      <div class="line-key" style="display: flex; width: 100%">
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
        <ui-input-text-model isRequired="true" placeholder="Name" label="Name">
        </ui-input-text-model>
      </div>

      <div class="line-key" style="display: flex; width: 100%">
        <ui-button
          [actionProperties]="ACTION_BUTTON_CREATE"
          (on-click)="createSistemOpenModal()"
        ></ui-button>
      </div>
      <div  style="display: flex; width: 100%">
        <ui-button
          [actionProperties]="ACTION_BUTTON_CREATE"
          (on-click)="createSistemOpenModal()"
        ></ui-button>
      </div>
      <div class="line-key">
        <ui-input-select-model></ui-input-select-model>
      </div>

      <ui-table
        *ngIf="tableModelSistem"
        [columns]="tableModelSistem.columnArray"
        [actions]="tableModelSistem.actionArray"
        [data]="tableModelSistem.dataArray"
        [paginationData]="tableModelSistem.pagination"
        (actionEvent)="tableSistemActions($event)"
      ></ui-table>
    </div>
  </ui-form-base>
</div>
