<div style="display: flex; width: 100%; justify-content:space-between; margin-top: 10px;">
  <div class="page-text">
    Página {{paginationData._currentPage}} Registros
    {{paginationData._rowNum}} al
    {{paginationData._itemsToPage}}  de
    {{paginationData._total}}</div>
   <div class="line-key" style="display: flex;" *ngIf="paginationData._pages.length>0">
    <ui-input-select-model
    (value)="paginationData.perPage" [value]="paginationData._perPage" (valueChange)="onClickItemsPage($event)" placeholder ='Items por página' label=''
    [items]="itemsPage" style="margin-right: 5px;"> </ui-input-select-model>
    <ng-container *ngFor="let itemPaginationData of paginationData._pages ; let i = index">
      <div class="input-key page-item" tabindex="-1"  *ngIf="itemPaginationData['page']!=='' "  (click)="onClickPagination(itemPaginationData.page)" (keydown)="keyPress($event,itemPaginationData.page)">
        <span [ngClass]="{'page-active': itemPaginationData.active}">{{itemPaginationData.label}}</span></div>
        <div *ngIf="itemPaginationData['label'] =='...'  " class="page-item">
          <span>{{itemPaginationData.label}}</span></div>
    </ng-container>
   </div>
</div>

<div class="table-conteiner">
  <table class="zui-table zui-table-rounded zui-table-highlight">
    <thead  *ngIf="columns">
      <tr class="line-key">
        <th *ngIf="viewOrdeColumn">Nº</th>
        <th *ngFor="let itemColumnTitle of  columns">
          <div  [ngClass]="{'colum-action':itemColumnTitle.actionColum === true}">
            <div class="colum-text input-key" tabindex="-1" (click)="onClickcolumOrder(itemColumnTitle)" (keydown)="keyPressColumName($event,itemColumnTitle)">
              <span style="user-select: none; margin-right: 5px;">{{itemColumnTitle.title}}</span>
              <i class="fa fa-long-arrow-up" aria-hidden="true" *ngIf="selectColumn === itemColumnTitle.key && direction==='asc'"></i>
              <i class="fa fa-long-arrow-down" aria-hidden="true" *ngIf="selectColumn === itemColumnTitle.key && direction==='desc'"></i>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="data">
      <ng-container *ngFor="let itemTable of  data ; let index = index">
      <tr class="line-key line-row" [ngClass]="{'select-row': indexSelect == index }">

        <td *ngIf="viewOrdeColumn"><div class="rownum">{{index+paginationData._rowNum}}</div></td>
        <ng-container *ngIf="!templateRow">
          <td *ngFor="let itemColumn of  columns">

              {{itemTable[itemColumn.key]}}

              <div  *ngIf="itemColumn.actionColum===true" [ngClass]="{'colum-action':itemColumn.actionColum === true}"  >
                <ng-container *ngFor="let itemAction of actions">
                  <ui-button isActionOpenModal="true" style="margin-left: 3px;" [actionProperties]="itemAction"
                    (on-click)="onClickAction(itemAction.action,itemTable,index)"></ui-button>
                </ng-container>
              </div>
          </td>
        </ng-container>
        <ng-container *ngTemplateOutlet="templateRow; context {$implicit: itemTable}">
        </ng-container>
        <td *ngIf="templateRow">
          <ng-container *ngFor="let itemColumn of  columns">

              <div *ngIf="itemColumn.actionColum===true" [ngClass]="{'colum-action':itemColumn.actionColum === true}"  >
                <ng-container *ngFor="let itemAction of actions">
                  <ui-button isActionOpenModal="true" style="margin-left: 3px;" [actionProperties]="itemAction"
                    (on-click)="onClickAction(itemAction.action,itemTable)"></ui-button>
                </ng-container>
              </div>
          </ng-container>
        </td>

      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
