<div style="min-width: 720px;">
    <ui-form-base
    [titleHeader]="TITLE_HEADER_FORM"
    [showCloseButton]="SHOW_CLOSE_BUTTON_FORM"
    (formAction)="formAction($event)"
>
<ui-button  [actionProperties]="ACTION_BUTTON_CREATE" (on-click)="createTableItemOpenModal()"></ui-button>
<ui-table
        *ngIf="tableModelTableItem"
    [columns]='tableModelTableItem.columnArray'
    [actions]="tableModelTableItem.actionArray"
    [data]="tableModelTableItem.dataArray"
    (actionEvent)="tableTableItemActions($event)"
    ></ui-table>
</ui-form-base>
</div>
