@import "src/assets/global-values.scss";
.modal-backdrop {
  position: absolute;
  display: flex;
  z-index: 5;
  box-sizing: border-box;
  justify-content:center;
  height: 100vh;
  background-color: #ffffff00;
  width: 100%;
}

.content-component {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  flex-basis: 100%;
  padding-top: 30px;
}

.modal-backdrop-min {
  position: absolute;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
}

.modal-backdrop-min >.content-component {
  margin-left: 0px;
  margin-top: 10px;
}

.ui-top-right {
  right: 15px;
  top: 0;
}

.ui-top-left {
  left: 0;
  top: 0;
}

.ui-top-center {
  left: 35%;
  top: 0;
}

.ui-button-center {
  left: 50vw;
  bottom: 7px;
}

@media (max-width: 991px) {
  .ui-top-center {
    left:0px;
  }

  .content-component {
    margin-left: 0px;
  }

  .modal-backdrop-no-bloqued {
    left: 0px !important;
    flex-basis: 100%;
    width: 100vw;
  }

}


.modal-backdrop-no-bloqued {
  display: flex;
  z-index: 5;
  box-sizing: border-box;
  justify-content:center;
  top:40px;
}


