<ui-form-base
  [titleHeader]="TITLE_HEADER_FORM"
  [showCloseButton]="SHOW_CLOSE_BUTTON_FORM"
  [actions]="ACTION_FORM"
  (formAction)="actionFormEvent($event)"
  [minWidth]="'720px'"
  [showFooterButtons]="SHOW_FOOTER_BUTTON_FORM"
>
<div class="ui-header">
  <span>Entidad : Universidad Nacional del Centro del Perú</span>
  <span>Nivel académico : Pregrado</span>
  <span>Programa : Nuevo programa</span>
</div>



  <div class="ui-section">

    <ui-button [actionProperties]="OTRAS_OPCIONES_BTN" [helipopper]="tpl" helipopperVariation="popper" #contextPopper="helipopper"></ui-button>
    <ng-template #tpl>
      <div style="display:flex; flex-direction: column;">
        <ui-button [actionProperties]="OPCIONES_CAMBIO_DENOMINACION_BTN"></ui-button>
        <ui-button [actionProperties]="OPCIONES_CAMBIO_VIGENCIA_BTN"></ui-button>
        <ui-button [actionProperties]="OPCIONES_HISTORIAL_CAMBIOS_BTN"></ui-button>
        <ui-button [actionProperties]="OPCIONES_EDITAR_BTN"  (on-click)="openEditDialog(tpl)"></ui-button>
        <ui-button [actionProperties]="OPCIONES_HISTORIAL_EDICION_BTN"  (on-click)="contextPopper.hide(); openEditHistorial()"></ui-button>
      </div>
    </ng-template>
  </div>



  <ui-input-select-model
  placeholder="todos.."
  label="Tipo de entidad"
  > </ui-input-select-model>

  <ui-input-select-model
  placeholder="todos.."
  label="Entidad"
  > </ui-input-select-model>

  <ui-input-select-model
  placeholder="todos.."
  label="Nivel académico"
  > </ui-input-select-model>

  <ui-input-select-model
  placeholder="todos.."
  label="Denominación del programa"
  > </ui-input-select-model>

  <ui-input-text-model
    class="line-key"
    labelDirectionLeft="true"
    label="Abreviatura del progama"
  ></ui-input-text-model>

  <ui-input-select-model
  placeholder="todos.."
  label="Vigencia"
  > </ui-input-select-model>

  <ui-input-date label="Fecha de vigencia" labelDirectionLeft="true">
  </ui-input-date>

<div class="ui-section">
  <ui-input-checkbox
    class="line-key"
    label="Sólo para admisión y matrícula"
  ></ui-input-checkbox>

  <ui-input-checkbox
  class="line-key"
  label="EFI (Espacio formativo itinerante)"
></ui-input-checkbox>


</div>

<!-- <div class="ui-section">
<ui-button [actionProperties]="DOCUMENTOS_BTN"></ui-button>
</div> -->


<div class="ui-footer-tab" footer>

  <div class="ui-tab-container">
    <div class="ui-tab-element ui-tab-active">
      <div class="ui-tab">1</div>
      <div class="ui-tab-row">
        <div class="ui-tab-label"> Datos Generales</div>
        <div class="ui-tab-line">  </div>
      </div>
    </div>

    <div class="ui-tab-element">
      <div class="ui-tab">2</div>
      <div class="ui-tab-row">
        <div class="ui-tab-label"> Atributos</div>
        <div class="ui-tab-line">  </div>
      </div>
    </div>

    <div class="ui-tab-element">
      <div class="ui-tab">3</div>
      <div class="ui-tab-row">
        <div class="ui-tab-label"> Datos adicionales</div>
        <div class="ui-tab-line">  </div>
      </div>
    </div>

    <div class="ui-tab-element">
      <div class="ui-tab">4</div>
      <div class="ui-tab-row">
        <div class="ui-tab-label"> Otros</div>
        <div class="ui-tab-line">  </div>

      </div>
      <div class="ui-tab-fin"></div>

    </div>
    <div class="ui-tab-button">Anterior</div>
    <div class="ui-tab-button">Siguiente</div>
  </div>



  <!-- <ui-button [actionProperties]="SIGUIENTE_BTN" [helipopper]="tpl" helipopperVariation="popper" #contextPopper="helipopper" style="margin-left:10px ;"></ui-button> -->
</div>
</ui-form-base>
