$content-color: #fafafa;
$content-color-secondary: #fafafa;
$iu-global-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$iu-global-borde-input-h: rgb(11, 173, 152);
$iu-global-borde-input: rgba(15, 15, 15, 0.2);
$iu-global-input-background: rgba(250, 250, 250, 0.875);
$iu-global-font-color: rgba(23, 23, 23, 0.9);
$iu-global-font-size-input: 12px;
$iu-global-font-size-label: 13px;
$background-color:#fafafa;
$background-color-hover:rgba(123, 228, 214, 0.393);
$iu-global-font-color-inverse:#fafafa;
$iu-global-font-color-important: rgba(9, 9, 9, 0.974);
$iu-global-font-color-disabled:#5b5b5b;
$iu-global-font-size-input: 12px;
$iu-global-borde-inverse: rgb(5, 106, 92);
$background-color-head:#7966a6 ;//#0e837378;
$iu-global-header-nav:#584892; //#0e8373;
$iu-global-table-body:#fafafa;
//$content-color: #3f4447;
//$iu-global-input-background: rgba(15, 15, 15, 0.3);
//$iu-global-font-color: rgba(255, 255, 255, 0.9);
//$background-color:#2f3437;



