$content-color: #3f4447;
$iu-global-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$iu-global-borde-input-h: rgb(11, 173, 152);
$iu-global-borde-input: rgba(15, 15, 15, 0.2);
$iu-global-input-background: rgba(15, 15, 15, 0.3);
$iu-global-font-color: rgba(255, 255, 255, 0.9);
$iu-global-font-size-input: 12px;
$iu-global-font-size-label: 13px;

.input-text {
  color: $iu-global-font-color;
  font-family: $iu-global-font;
  width: 100%;
}

.input-text-top {
  width: 100%;
}

.input-text-left {
  display: inline-flex;
  width: 100%;
}

.input-content {
  width: 100%;
  position: relative;
}

.input-text > .input-content > input {
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px rgba(15, 15, 15, 0.2);
  box-shadow: (15, 15, 15, 0.2) 0px 0px 0px 1px inset,
    rgba(15, 15, 15, 0.2) 0px 1px 1px inset;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  height: 21px;
  width: 100%;
  font-size: $iu-global-font-size-input;
  color: $iu-global-font-color;
  background: $iu-global-input-background;
  cursor: text;
}

.label-top {
  font-size: $iu-global-font-size-label;
  margin-top: 7px;
  min-width: 120px;
  max-width: 180px;
  user-select: none;
}

.label-left {
  font-size: $iu-global-font-size-label;
  margin-top: 2px;
  width: 200px;
  min-height: 28px;
  user-select: none;
}

.input-text > .input-content > input:focus {
  outline: none;
  border: solid 1px $iu-global-borde-input-h;
}

.conteiner-error {
  margin-top: 3px;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px red;
  background-color: rgba(239, 61, 61, 0.18);
  border-radius: 3px;
}

.error-p {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 1px;
  font-size: 8px;
  color: rgb(255, 255, 255);
}


::ng-deep .mat-calendar {
  background:#272e31;
  border-radius: 5px;
}

::ng-deep .mat-datepicker-content {
  border-radius: 7px !important;
}


::ng-deep .mat-calendar-header {
  color: #e7e7e7;
}

::ng-deep .mat-calendar-previous-button::after {
  color: #e7e7e7;
}

::ng-deep  .mat-calendar-next-button::after {
  color: #e7e7e7;
}

::ng-deep .mat-calendar-table-header th {
  color: #e7e7e7;
}

::ng-deep .mat-calendar-body-label {
  color: #e7e7e7;
}

::ng-deep .mat-calendar-body-cell-content{
  color: #e7e7e7;
}

::ng-deep .mat-calendar-arrow {
  border-top-color: #e7e7e7;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #0e8373;
}

::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover >
.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
 .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: rgba(85, 204, 188, 0.141);
}
::ng-deep .mat-icon-button .mat-button-wrapper>*
 {
  width: 16px;
}


.in-icon {
  position: absolute;
  right: -8px;
  top: -10px;
  color: #dcfbff;
}

.ui-picker {
  background-color: #dcfbff;
}

.input-text > .input-content > input:focus {
  outline: none;
  border: solid 1px $iu-global-borde-input-h;
}

.input-text > .input-content > input:hover {
  outline: none;
  border: solid 1px $iu-global-borde-input-h;
}

.input-key:focus-within {
  outline: none;
  border: none;
}

.input-key {
  border: solid rgba(11, 173, 151, 0) 1px;
}

.input-key:focus-within {
  border: solid rgb(11, 173, 152) 1px;
}

.input-key:focus {
  border: solid rgb(11, 173, 152) 1px;
}
