<div class="input-text" [ngClass]="styleClassText">
  <div *ngIf="label" [ngClass]="styleClassLabel">
    <label>{{ label }}</label>
  </div>

  <div class="input-content" (keyup)="keyPress($event)" tabindex="-1">
    <mat-datepicker-toggle
      class="in-icon"
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <input
    class=input-key
      (click)="picker.open()"
      [matDatepicker]="picker"
      [(ngModel)]="valueDate"
      (ngModelChange)="changeControlEvent()"
      (keyup.enter)="pickerLaunch(picker)"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [ngStyle]="{ height: height }"
      [ngStyle]="{ color: color }"
      matInput
    />
  </div>
  <div class="conteiner-error" *ngIf="errors.length > 0">
    <div class="error-p" *ngFor="let error of errors">
      {{ error }}
    </div>
  </div>
</div>
<mat-datepicker #picker class="ui-picker"></mat-datepicker>
