.tree-layout {
  box-sizing: border-box;
}

/* reset  ul element*/
ul {
  padding: 0px;
  margin: 0px;
}

.halo-tree ul {
  padding-top: 7px;
  text-align: left;
  padding-left: 17px;
}

.halo-tree li {
  list-style-type: none;
  position: relative;
  list-style: none;
  text-align: left;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
}

.halo-tree .first-node .only-node li {
  padding-left: 0px;
}

/*lineas verticales*/
.halo-tree li:before {
  content: "";
  position: absolute;
  bottom: 50px;
  height: 100%;
  top: -3px;
  width: 1px;
  left: -8px;
  right: auto;
  border-left: 1px dashed #999;
}

.halo-tree li:last-child:before {
  height: 22px;
}

/*borra linea superior nodo principal*/
.halo-tree > li.first-node.only-node:before {
  border-left: none;
}

/*cuadrado expandir*/
.halo-tree .tree-expand {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 13px;
  font-style: normal;
  text-align: center;
  border: 1px solid #888;
  border-radius: 2px;
  margin-right: 3px;
}

/* icono - menos*/
.halo-tree .tree-open:after {
  content: "\2013";
}

.halo-tree .tree-node-el {
  padding-left: 2px;
  position: relative;
  display: flex;
}

//completar linea del arbol para nodos padre
.node-parent{
  height: 100%;
  position: relative;
}

.node-parent::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 6px;
  width: 1px;
  left: 9px;
  right: auto;
  border-left: 1px dashed #999;
}

/*lineas horizontales*/
.halo-tree li.leaf:after {
  content: "";
  position: absolute;
  height: 20px;
  top: 18px;
  width: 14px;
  border-width: 1px;
  border-top: 1px dashed #999;
  left: -7px;
  right: auto;
}

.s-content {
  width: 100%;
}
